<div class="container">
  <div class="row">
    <div class="col">
      <form #otpForm="ngForm"(ngSubmit)="verifyOtp()" name='otpForm'>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email" #title="ngModel"
            aria-describedby="emailHelp" ngModel email required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="otp">OTP</label>
          <input type="text" name="otp" class="form-control" [(ngModel)]="otp" id="otp" #title="ngModel"
            aria-describedby="otpHelp" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!otpForm.form.valid">Submit</button>
      </form>
      <p>An Otp has sent to your registered Email.</p>
    </div>

  </div>

</div>

