<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark" >
    <a class="navbar-brand" style="cursor:default; color: floralwhite;" >JNTUHCES Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
            <a class="nav-item nav-link active" style="color: floralwhite;" routerLink='/'>Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="color: floralwhite;" routerLink='/login'>Login</a>
            <a class="nav-item nav-link" style="color: floralwhite;" routerLink='/register'>Signup</a>
            <a class="nav-item nav-link" style="color: floralwhite;" routerLink='/contact'>Contact</a>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 60px;">
    <h2>Contact Us</h2>
<p style="color: brown;"><strong>
    JNTUHCES College of Engineering Sultanpur </strong>
</p>
<br>
<p>
    Sultanpur(Vill), Pulkal(Mdl),</p>
<p>Sangareddy(Dist),</p>
<p>Telangana-502273</p>
<p>Ph:- 9492073840.</p>
Email:- <a href="principaljntuhces@gmail.com">principaljntuhces@gmail.com</a>

<br><br>

<h2>Developed By:</h2>
<p>V.SAI VIVEK :- <a href="saivivek116@gmail.com">saivivek116@gmail.com</a></p>
<p>S.VIKAS REDDY :- <a href="crazykidgamer55555@gmail.com">crazykidgamer55555@gmail.com</a></p>
<p>T.ANUSHA :- <a href="telumudhirajanusha@gmail.com">telumudhirajanusha@gmail.com</a></p>
<br>
Give feedback to this email.
<a href="jntuhcesblog@gmail.com">jntuhcesblog@gmail.com</a>
</div>
