<div class="container">
    <div class="row">
      <div class="col">
        <form #passForm="ngForm" (ngSubmit)="forgetPassword()" name='passForm'>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email" #title="ngModel"
              aria-describedby="emailHelp" ngModel email required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!otpForm.form.valid">Submit</button>
        </form>
        <p>The password has sent to your registered Email.</p>
      </div>
  
    </div>
  
  </div>
  